# TOML formatted
# https://toml.io/en/v1.0.0
#
# Configuration for a single relay endpoint:
#
# [relay_name] # name will also be the directory path to this endpoint. Ex `/relay_name`
# proof_key = "test-key"                       <= Key needed for the hook to be relayed.
# target = "https://xxxx.requestcatcher.com"   <= destination for the relayed hook.
# async = false                                <= determines if the relay target should be contacted async.
#
# As many relays as desired is possible. There is no soft limit.
#

[relay]
proof_key = "trust-me-bro" 
target = "https://hook-relay.requestcatcher.com/test"
async = false

[relay_async]
proof_key = "trust-me-bro" 
target = "https://hook-relay.requestcatcher.com/test"
async = true
